@import ".../../../../../styles/variables.scss";
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: transparent;
  font-weight: 600;
  font-size: var(--rythm-12);
  cursor: pointer;
  border: none;
  gap: var(--rythm-8);
}

.icon {
  @extend .button;

  height: var(--rythm-24);
  width: var(--rythm-24);

  svg {
    height: var(--rythm-24);
    width: var(--rythm-24);
  }
}

.primary {
  color: #fff;
  background-color: $mainColor;
  border-radius: var(--rythm-36);
  height: var(--rythm-64);
  padding: 0 var(--rythm-24);

  display: flex;
  gap: var(--rythm-20);
}

.primaryOutline {
  color: $mainColor;
  background-color: transparent;
  border-radius: var(--rythm-36);

  padding: var(--rythm-12) var(--rythm-32);
  border: 2.5px solid $mainColor;
}

.primaryFilled {
  color: $mainColor;
  background-color: $mainColor;
  border-radius: var(--rythm-8);
  color: #fff;

  padding: var(--rythm-20) var(--rythm-28);
}

.almostGreen {
  color: green;
  background-color: rgb(218, 236, 218);
  border-radius: var(--rythm-8);
  font-size: var(--rythm-12);
  padding: var(--rythm-12) var(--rythm-32);
}

.loginRegister {
  background-color: rgba(166, 240, 166, 0.8);
  font-weight: 600;
  color: $mainColor;
  cursor: pointer;
  border: none;
  padding: 0.625rem 1rem;
  font-size: 0.813rem;
  border-radius: 0.625rem;
}

.logout {
  background-color: rgba(239, 0, 0, 0.8);
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.625rem 1rem;
  font-size: 0.813rem;
  border-radius: 0.625rem;
}

.filter {
  color: #fff;
  background-color: rgb(56, 210, 56);
  border-radius: var(--rythm-8);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: var(--rythm-12) var(--rythm-32);

  transition: 0.3s all;

  &:hover {
    background-color: #fff;
    color: rgb(56, 210, 56);
  }
}

.primaryFilledSearch {
  color: $mainColor;
  background-color: $mainColor;
  border-radius: var(--rythm-8);
  color: #fff;

  padding: var(--rythm-8) var(--rythm-16);

  &:hover {
    background-color: #fff;
    color: rgb(56, 210, 56);
  }
}
