@import "../../styles//variables.scss";
.exercises {
  margin-top: var(--rythm-32);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: var(--rythm-24);
    gap: var(--rythm-40);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--rythm-4);
  margin-top: var(--rythm-52);
  align-items: center;
  button {
    padding: var(--rythm-16);
    border-radius: var(--rythm-8);
    border: none;
    background-color: #fff;
    color: black;
    font-size: var(--rythm-16);

    cursor: pointer;
  }
}

.active {
  background-color: rgb(124, 214, 124) !important;
}

select {
  border: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: var(--rythm-16);
  padding: var(--rythm-16);
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;

  option {
    font-size: var(--rythm-16);
    padding: var(--rythm-16);
    text-transform: capitalize;
    font-weight: 500;
  }
}

.selectDropdown {
  border: none;
  padding: var(--rythm-16);
  font-size: var(--rythm-16);
}

.modalContent {
  padding: var(--rythm-48) !important;
}

.modalHeader {
  font-weight: 500;
}

.modalSelect {
  display: flex;
  justify-content: center;
  margin-top: var(--rythm-16);
}
