@import "../../styles//variables.scss";
.home {
  margin-top: var(--rythm-32);
  &__weekactivityContainer {
    background-color: #fff;
    border-radius: var(--rythm-24);
    padding: var(--rythm-24);
    transform: 0.3s all;
    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
    // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    h2 {
      font-weight: 500;
    }
    p {
      color: $mainGray;
      margin-bottom: var(--rythm-16);
    }
  }
  &__activitesCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rythm-32);

    margin-left: var(--rythm-24);
    border-radius: var(--rythm-24);
  }
  &__activitiesWrapper {
    display: flex;
  }
}
