@use "../../styles/variables.scss" as *;
.home {
  margin-top: var(--rythm-32);
  &__weekactivityContainer {
  }
  &__activitesCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--rythm-32);

    margin-left: var(--rythm-24);
    border-radius: var(--rythm-24);
  }
  &__activitiesWrapper {
    display: flex;
  }
}

.lineChartContainer {
  h2 {
    font-weight: 500;
  }
  p {
    color: $mainGray;
    margin-bottom: var(--rythm-24);
  }
}
