@import ".../../../../../styles/variables.scss";
.navbar {
  &__wrapper {
    background-color: var(--body__navbar);
    height: 112px;
    height: var(--rythm-112);
    position: relative;
  }
  max-width: var(--rythm-1600);
  margin: 0 auto;
  font-size: var(--rythm-16);
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--rythm-16) var(--rythm-24);
  &__left {
    display: flex;
    align-items: center;
    gap: var(--rythm-16);
    p {
      font-size: var(--rythm-16);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--rythm-24);

    &__icons {
      display: flex;
      align-items: center;
      gap: var(--rythm-24);
      span {
        padding: var(--rythm-8);
        background: rgba(30, 63, 180, 0.1);
        display: flex;
        border-radius: var(--rythm-8);
        cursor: pointer;
      }
      svg {
        color: $mainColor;

        width: var(--rythm-24);
        height: var(--rythm-24);
      }
    }

    &__input {
      background: #efefef;
      border: none;
      padding: var(--rythm-12) var(--rythm-16);
      display: flex;
      align-items: center;
      gap: var(--rythm-16);
      border-radius: var(--rythm-16);
      input {
        border: none;
        background: transparent;
        font-size: var(--rythm-16);
        color: $mainGray;

        &:focus {
          outline: none;
        }
      }

      &:focus {
        outline: none;
      }
    }
    &__profile {
      display: flex;
      align-items: center;
      position: relative;
      gap: var(--rythm-16);
      margin-left: var(--rythm-24);

      &__userImage {
        cursor: pointer;
      }

      &__data {
        display: flex;
        flex-direction: column;

        &__level {
          font-size: 12px;
          font-weight: 500;
          color: $mainGray;
        }
      }
      img {
        width: var(--rythm-52);
        height: var(-rythm-52);
        border-radius: 50%;
      }
      p {
        font-weight: 600;
      }
    }
  }
}

.dropdownArrow {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  padding: 10px;
  bottom: -310px;
  right: 0;
  border-radius: 11px;
  z-index: 999;

  &__user {
    display: flex;
    align-items: center;
    gap: var(--rythm-16);
    border-bottom: 1px solid #ccc;
    margin-bottom: var(--rythm-16);
    padding-bottom: var(--rythm-8);

    img {
      width: var(--rythm-40);
      height: var(--rythm-40);
      border-radius: 50%;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    gap: var(--rythm-16);
    &__element {
      display: flex;
      align-items: center;
      gap: var(--rythm-16);
      cursor: pointer;
      transition: 0.3s all;
      padding: 8px;

      p {
        font-weight: 500 !important;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: #f7f7fc;
        border-radius: 8px;
      }
    }
  }
}
