@use ".../../../../../styles/variables.scss" as *;

.navbar {
  max-width: var(--rythm-1600);
  margin: 0 auto;
  font-size: var(--rythm-16);
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--rythm-16) var(--rythm-24);

  &__wrapper {
    background-color: var(--body__navbar);
    height: 100%;
    position: relative;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: var(--rythm-16);
    p {
      font-size: var(--rythm-16);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: var(--rythm-24);

    &__icons {
      display: flex;
      align-items: center;
      gap: var(--rythm-24);
      span {
        padding: var(--rythm-8);
        background: rgba(30, 63, 180, 0.1);
        display: flex;
        border-radius: var(--rythm-8);
        cursor: pointer;
      }
      svg {
        color: $mainColor;
        width: var(--rythm-24);
        height: var(--rythm-24);
      }
    }

    &__input {
      background: #efefef;
      border: none;
      padding: var(--rythm-12) var(--rythm-16);
      display: flex;
      align-items: center;
      gap: var(--rythm-16);
      border-radius: var(--rythm-16);
      input {
        border: none;
        background: transparent;
        font-size: var(--rythm-16);
        color: $mainGray;

        &:focus {
          outline: none;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      position: relative;
      gap: var(--rythm-16);
      margin-left: var(--rythm-24);

      &__userImage {
        cursor: pointer;
      }

      &__data {
        display: flex;
        flex-direction: column;

        &__level {
          font-size: 12px;
          font-weight: 500;
          color: $mainGray;
        }
      }

      img {
        width: var(--rythm-52);
        height: var(--rythm-52);
        border-radius: 50%;
      }

      p {
        font-weight: 600;
      }
    }
  }
}

/* Styles for the green circle indicating unread messages */
.notificationIconWrapper {
  position: relative;
  cursor: pointer;
}

.unreadIndicator {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

/* Dropdown menu styles for unread messages */
.dropdownMessages {
  position: absolute;
  top: 80%; // Position it directly below the notify icon
  left: 76.5%; // Center it horizontally relative to the notify icon
  transform: translateX(-50%); // Adjust the position to be centered
  background-color: var(--body_content);
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  max-height: 500px; // Ensure the dropdown has a maximum height
  overflow-y: auto; // Enable vertical scrolling if content exceeds max height
}

/* Dropdown menu for user profile actions */
.dropdownArrow {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--body_content);
  border: 1px solid #ccc;
  width: 300px;
  padding: 10px;
  bottom: -310px;
  right: 0;
  border-radius: 11px;
  z-index: 999;

  &__user {
    display: flex;
    align-items: center;
    gap: var(--rythm-16);
    border-bottom: 1px solid #ccc;
    margin-bottom: var(--rythm-16);
    padding-bottom: var(--rythm-8);
    color: var(--body_color);
    font-weight: 600;

    img {
      width: var(--rythm-40);
      height: var(--rythm-40);
      border-radius: 50%;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    gap: var(--rythm-16);

    &__element {
      display: flex;
      align-items: center;
      gap: var(--rythm-16);
      cursor: pointer;
      transition: 0.3s all;
      padding: 8px;
      color: var(--body_color);

      p {
        font-weight: 500 !important;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: #f7f7fc;
        border-radius: 8px;
      }
    }
  }
}

.topText {
  color: var(--body_color) !important;
}

.iconWithTransition {
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.iconWithTransition:hover {
  transform: scale(1.1);
}

.dropdownMessageItem {
  border-bottom: 1px solid #ccc;
  padding: 10px;

  span {
    color: green;
  }
}

.noNotificationsMessage {
  color: var(--body_color);
}

.hamburgerIcon {
  display: none;
  cursor: pointer;
  svg {
    width: var(--rythm-24);
    height: var(--rythm-24);
  }
}

.hamburgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--body_content);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hamburgerMenuOpen {
  transform: translateX(0); // Slide into view
}

body.hamburger-menu-open .hamburgerMenu {
  transform: translateX(0); // Ensures body class also applies the slide effect
}

.hamburgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--body_content);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hamburgerMenuOpen {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.hamburgerMenu__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--rythm-16);
  img {
    width: var(--rythm-52);
    height: var(--rythm-52);
    border-radius: 50%;
  }
  p {
    font-weight: 600;
  }
}

.hamburgerMenu__element {
  color: var(--body_color);
  display: flex;
  align-items: center;
  padding: var(--rythm-16);
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #f7f7fc;
  }
  svg {
    width: var(--rythm-24);
    height: var(--rythm-24);
    margin-right: var(--rythm-16);
  }
}

@media (max-width: 768px) {
  .navbar__right {
    display: none;
  }
  .hamburgerIcon {
    display: block;
  }
  .hamburgerMenu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .hamburgerMenuOpen {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.logoDropdown {
  font-size: 20px;
  font-weight: bold;
  padding: var(--rythm-24);
  color: $mainColor;
  text-align: center;
}

.mobileIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
