@import ".../../../../../styles/variables.scss";
.sidebar {
  background-color: #fcfcfc;

  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width 0.2s ease-in-out;
  width: var(--rythm-88);
  font-size: var(--rythm-16);
  z-index: 10;
  &.expanded {
    width: var(--rythm-320);
    box-shadow: 2px 0 7px -3px #afafaf;
  }

  &__top {
    margin-bottom: var(--rythm-16);

    &__logo {
      display: flex;
      align-items: center;

      img {
        width: var(--rythm-52);
        height: var(--rythm-52);
      }
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    gap: var(--rythm-8);
    &__element {
      font-weight: 500;
      padding: var(--rythm-12) var(--rythm-20);
      color: #7e7e7e;
      &:hover {
        color: black;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--rythm-16);

      transition: 0.3s all;

      &__left {
        display: flex;
        align-items: center;
        gap: var(--rythm-16);
      }
    }
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    &__workout {
      display: flex;
      align-items: center;
      background-color: $mainColor;
      border-radius: var(--rythm-16);
      padding: var(--rythm-16);
      color: #fff;
      gap: var(--rythm-20);
      font-weight: 500;
      width: 90%;
      cursor: pointer;
    }
    &__logout {
      display: flex;
      font-weight: 500;
      padding: var(--rythm-20);
      color: #7e7e7e;

      justify-content: center;
      gap: var(--rythm-12);
      cursor: pointer;
      svg {
        width: var(--rythm-28);
        height: var(--rythm-28);
        stroke: #6e7191;
      }

      padding: var(--rythm-24);
    }
  }
}

.logo {
  font-size: var(--rythm-28);
  font-weight: bold;
  padding: var(--rythm-24);
  color: $mainColor;
}

svg {
  width: var(--rythm-28);
  height: var(--rythm-28);
  stroke: #6e7191;
}

.selected {
  background-color: #90ee90;
  border-radius: 0 var(--rythm-32) var(--rythm-32) 0;
  color: black !important;
  width: 100%;

  transition: 0.5s all;
}

.sidebar__center__element__left span {
  text-transform: capitalize;
}
