.emailpassword {
  padding: var(--rythm-32);
  border-left: 1px solid #f5f5f5;
  padding-left: var(--rythm-32);
  margin-left: var(--rythm-16);
  h2 {
    font-weight: 600 !important;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: var(--rythm-16);
    margin-top: var(--rythm-32);

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 64px;
    }
  }
}

.emailpassword__textfield {
  width: 500px;

  .MuiOutlinedInput-root {
    border-radius: 30px;
  }
}
