@use "../../styles/variables.scss" as *;
.finder {
  margin-top: var(--rythm-32);
  z-index: 0;
  &__input {
    display: flex;
    justify-content: center;
    gap: var(--rythm-12);
    margin-bottom: var(--rythm-24);
    margin-top: var(--rythm-24);
    align-items: center;

    button {
      font-weight: bold;
    }

    input {
      outline: none;
      border: none;
      height: 100%;
      padding: var(--rythm-8) var(--rythm-16);
      border-radius: 4px;
      border-radius: 0.625rem;
      background: #fff;
      border: 1px solid #e6e6e6;
      color: #b1b1b1;
      display: block;

      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5;
      color: $mainGray;
      appearance: none;
      background-color: var(--bs-body-bg);
      background-clip: padding-box;

      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
}
