@use "../../../styles/variables.scss" as *;

.wrapper {
  background-color: var(--body_background);
  transition: 0.3s all;
  border-radius: var(--rythm-24);
  padding: var(--rythm-24);
  width: 100%;
  transform: 0.3s all;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  h2:first-of-type {
    font-weight: 500;
    color: var(--body_color);
  }

  p:first-of-type {
    color: var(--body__graycolor);
  }
}

@media (max-width: 768px) {
  .wrapper h2:first-of-type {
    font-size: 16px;
  }

  .wrapper p:first-of-type {
    font-size: 12px;
  }
}
