.mealCalories {
  display: flex;
  justify-content: start;
  gap: 16px;
  margin-top: var(--rythm-16);

  &__total {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: var(--rythm-16);

    span {
      padding: var(--rythm-12) var(--rythm-20);
      border-radius: 21px;
      color: #333;
      font-weight: 500;
      display: block;
    }
  }

  &__label {
    position: absolute;
    top: -25px;
    background: white;
    padding: 0 6px;
    font-size: 12px;
    font-weight: bold;
  }

  &__calories {
    border: 2px solid rgb(119, 235, 119);
  }
  &__protein {
    border: 2px solid rgb(124, 124, 235);
  }
  &__carbs {
    border: 2px solid rgb(233, 177, 74);
  }
  &__fats {
    border: 2px solid rgb(235, 107, 235);
  }
}

.mealsPlanInitial {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-weight: 600;
  }
}

.mealssummary {
  margin-top: var(--rythm-32);
}
