@import "../../../styles/variables.scss";

.activitiesCard {
  display: flex;
  align-items: center;
  gap: var(--rythm-12);
  background-color: #fff;
  border-radius: var(--rythm-24);
  cursor: pointer;
  width: 100%;
  padding: var(--rythm-16);
  transition: 0.3s all; /* Add transition for smooth animation */
  animation: slideIn 0.6s ease forwards;
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--rythm-16);
    background-color: #c8f6c8;
    border-radius: 21px;
    padding: 5px;
    svg {
      width: 52px;
      height: 52px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    &__header {
      color: $mainGray;
      font-size: (var(--rythm-16));
    }
    &__number {
      font-size: var(--rythm-24);
      font-weight: 600;
    }
  }
  &__iconRight {
    margin-left: var(--rythm-16);
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
